.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    padding-top: 40px;
    width: 300px;
    box-shadow: 5px 5px 5px rgb(188, 180, 180);
    background-color: white;
}

.description {
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.avatar {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.name {
    font-weight: 800px;
    font-size: 24px;
    margin-bottom: 10px;
}

.tag {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(113, 118, 118);
}

.location {
    font-size: 18px;
    color: rgb(113, 118, 118);
}

.stats {
    list-style: none;
    display: flex;
    border: 0.5px solid rgb(161, 163, 165);
}

.stats_item {
width: 99.5px;
height: 70px;
display: flex;
flex-direction: column;
background-color: rgb(212, 212, 212);
align-items: center;
justify-content: center;
}

.stats_item:not(:last-child) {
    border-right: 0.5px solid rgb(161, 163, 165);
}